@import url('https://fonts.googleapis.com/css?family=Fugaz+One');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Bungee');
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');

nav {
  background: #222222;
  margin-bottom: 10px;
  border-bottom:#00ACE9 solid 3px;
  height: 60px;
}
body {
  font-family: 'Raleway', sans-serif;
}

.header  {
  left: 45%;
  width: 100px;
  color: white;
  justify-content: center;
  position: absolute;
  margin-top: 3px;
  font-family: 'Fugaz One', cursive;
  color: white;
  font-size: 3rem;
}

.top {
  margin: 10px;
  border-radius: 5px 5px 5px 5px;
  }

  .glyphicon {
    background-color: transparent;
    color: white;
    margin-bottom: 5px;
  }

  .glyphicon:hover {
   color:#00ACE9;
  }

.logout, .add, .signUp {
  color: white;
  background-color: transparent;
  margin-left: 2px;
}

.logout, .add:hover {
  color: #00ACE9;
}

.signUp {
  color: white;
  background-color: transparent;
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 2px;
}

.videoList {
  height: 50vh;
  overflow-y: scroll;
}

.videoEntry {
  padding: 4px;
  margin: 4px;
  text-align: center;
  background-color: #eeeeee;
  min-height: 30px;
  word-wrap: break-word;
  border: #222222 solid 1px;
  border-radius: 3px;
}

.commentsContainer {
  overflow: scroll;
  height: 140px;
  width: 650px;
  border: darkgray solid 2px;
  border-radius: 1px;
  margin-top: 2px;
}

 .oneComment {
  min-height: 50px;
  width: 640px;
  display: inline-flex;
  background-color: #eeeeee;
  padding: 2px 0 2px 0;
  margin: 2px 2px 2px 2px;
   border: #222222 solid 1px;
   border-radius: 2px;
   word-wrap: break-word;
 }

.oneComment li {
    list-style: none;
 }

.userName {
  font-size: 0.9em;
  padding: 2px 0 2px 0px;
  font-weight: bold;
}

.message {
  font-size: 1em;
  padding-left: 4px;
  text-align: left;
}

.logout {
  margin: 10px;
}

.btn {
  margin-left: 2px;
}
