@import url('https://fonts.googleapis.com/css?family=Fugaz+One');
@import url('https://fonts.googleapis.com/css?family=Raleway');

nav {
  background-color:  lightgray;
  margin-bottom: 10px;
  border-bottom: darkgray solid 1px;
}
body {
  font-family: 'Raleway', sans-serif;
}

h2 {
  color: white;
  margin: 5px auto 5px auto;
  padding-left: 10px;
  
  font-family: 'Fugaz One', cursive;
  color: white;
}

.videoList {
  height: 50vh;
  overflow-y: scroll;
}

.videoEntry {
  padding: 4px;
  margin: 4px;
  text-align: center;
  background-color: #eeeeee;
  height: 30px;
  border: darkgray solid 1px;
  border-radius: 3px;
}

.commentsContainer {
  overflow: scroll;
  height: 125px;
}

 .oneComment {
  height: 50px;
  width: 640px;
  display: inline-flex;
  background-color: #eeeeee;
  padding: 2px 0 2px 0;
  margin: 2px 0 2px 0;
   border: darkgray solid 1px;
   border-radius: 2px;
 }

.oneComment li {
  list-style: none;
}
.userName {
  font-size: 0.9em;
  padding: 2px 0 2px 2px;
}

.message {
  font-size: 1.2em;
  padding-left: 6px;
  text-align: left;
}

.logout {
  margin-right: 10px;
  margin-bottom: 10px;
}

.addURL {
  margin-left: 10px;
}